<ng-template #ref let-i let-key="key2" let-number="foo">
  <p>{{key}} I am template {{i}} ))) </p>
</ng-template>

<ng-container
  *ngTemplateOutlet="temp$ | async;  context:{key:'my key property', key2: 234, $implicit: 'Hi iii'}"></ng-container>
<ng-container *ngTemplateOutlet="ref; context:{foo: 123, $implicit: 'Hi'}"></ng-container>

<hr/>

<ng-template #defaultTemplate let-p>
  <p>{{p}} I am default template </p>
</ng-template>

<div *ngFor="let item of [1,2,3]">
  <ng-container *ngTemplateOutlet="template || defaultTemplate; context:{$implicit: item}"></ng-container>
</div>
