.a-condition {
  background: yellow;
}

.b-condition {
  background: green;
}

.item {
  display: inline-flex;
  border: solid 1px black;
  padding: 10px;
}

.let {
  border: solid 1px green;
  min-height: 200px;
}

.matrix-item-new {
  color: red;
}

.matrix-item {
  color: green;
}
