<h1> Structure directive </h1>

<h3>Matrix Directive</h3>

<div class="nested-array-wrapper">
  <app-matrix>
    <div *appNestedFor="let index of rows; with: columns " class="matrix-item-new">
      {{ index }}
    </div>
  </app-matrix>
  <label>Rows
    <input type="number" [(ngModel)]="rows">
  </label>
  <label>Columns
    <input type="number" [(ngModel)]="columns">
  </label>
</div>

<h3>Matrix Directive2</h3>
<div class="nested-array-wrapper-nextr">
  <app-matrix>
    <div *appNestedFor="let index of rows1; with: columns1 " class="matrix-item">
      {{ index }}
    </div>
  </app-matrix>
  <label>Rows
    <input type="number" [(ngModel)]="rows1">
  </label>
  <label>Columns
    <input type="number" [(ngModel)]="columns1">
  </label>
</div>
<h2>Let directive</h2>
<div *appLetStructureDirective="'Hi' as x">{{ x }}</div>
