:host {
  position: relative;
  height: auto;
  padding: 24px;
}

.animation-wrapper {
  position: relative;
  height: 200px;
}

.rotate-elem {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 30%;
  bottom: 0;
  animation: rotate 2s infinite linear;
}

button {
  position: absolute;
  bottom: 0;
  right: 30%;
}
