<div class="container" xmlns="http://www.w3.org/1999/html">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="attribute-directives">Attribute directive</a></li>
        <li><a routerLink="structure-directive">Structure directive</a></li>
        <li><a routerLink="reference-variables">Reference variable</a></li>
        <li><a routerLink="carousel-directive">Carousel Directive</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
