<div class="container app-content" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li *ngFor="let nav of navs"><a [routerLink]="nav.path" routerLinkActive="active">{{ nav.label }}</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>

</div>
<div class="row">
  <a href="https://enchanted-taker-1e6.notion.site/Alexander-Tukhovsky-Roadmap-f42374dbd38a4cbf8ceb789905b3c95e">Route Map</a>
  <a href="https://github.com/angular/components/tree/12.2.x/src/material/divider">Divider Example</a>
  <a href="https://github.com/ryanmcdermott/clean-code-javascript">Clean Conde</a>
</div>
