<h1>Attribute directive</h1>

<ng-template #ref let-elem>
  <p>{{ elem }} I am passed through input</p>
</ng-template>

<app-foo [template]="ref"></app-foo>
<app-foo [template]="ref"></app-foo>

<app-content-projections>
  <h3>App in content projection</h3>
  <ng-template let-elem>
    <p>{{ elem }} I am passed through content projection</p>
  </ng-template>
</app-content-projections>
<app-content-projections>
  <h3>App in content projection</h3>
  <ng-template let-elem>
    <p>{{ elem }} I am passed through content projection</p>
  </ng-template>
</app-content-projections>


